
<div class="ui grid">
    <div class="four wide column">
      <div class="ui vertical fluid tabular menu">
        <li 
            class="item" 
            routerLink="./" 
            routerLinkActive="active"
            [routerLinkActiveOptions]="{exact: true}"
        >
            
          Informations
      </li>
     
        <a class="item" routerLink="./palmares" routerLikeActive="active">
            Palmares
        </a>
      </div>
    </div>
    <div class="twelve wide stretched column">
      <div class="ui segment">
        <router-outlet></router-outlet>
    </div>
    </div>
  </div>
