<div class="ui container">
  <div class="ui secondary pointing menu">
    <a routerLink="/" class="item">WIIMblEdon</a>
    <ng-container *ngIf="signedin$ | async">
      <a routerLink="/profil" routerLinkActive="active" class="ui item">Profil</a>
    </ng-container>
    <a routerLink="/planning" routerLinkActive="active" class="ui item">Planning</a>
    <a routerLink="/tournois" routerLinkActive="active" class="ui item">Tournois</a>
    <a routerLink="/classement" routerLinkActive="active" class="ui item">Classement</a>
    <a routerLink="/le-club" routerLinkActive="active" class="ui item">Le Club</a>
    <div class="right menu">
      <ng-container *ngIf="signedin$ | async">
        <a class="ui item" routerLink="/auth/signout" routerLinkActive="active">
          Sign Out
        </a>
      </ng-container>
      <ng-container *ngIf="!(signedin$ | async)">
      <a class="ui item" routerLink="/auth" routerLinkActive="active">
        Sign In
      </a>
      <a class="ui item" routerLink="/auth/signup" routerLinkActive="active">
        Sign Up
      </a>
      </ng-container>
    </div>
  </div>
  <div class="ui segment">
    <router-outlet></router-outlet>
  </div>
</div>
