<h1 style=" width: 100%; text-align: center">Bienvenue !</h1>

<div style=" width: 100%; text-align: center">Connectez-vous avec votre compte pour découvrir toutes les fonctionnalités du site.</div>
<div style=" width: 100%; text-align: center">Parmi les nombreux services accessibles, WIImblEdon vous permet de :</div>

<br/><br/>

<div style=" width: 100%; text-align: center">
<button class="ui submit button primary" routerLink="/planning" >
    Reserver des terrains
</button>
<button class="ui submit button primary" routerLink="/tournois">
    Participer à un tournoi
</button>
<button class="ui submit button primary" routerLink="/classement" routerLinkActive="active">
    Consulter le classement
</button>
</div>

<br/>

<ng-container *ngIf="!(signedin$ | async)">
    <div style=" width: 100%; text-align: center">
    <button class="ui submit button primary" routerLink="/auth" routerLinkActive="active">
    Sign In
    </button>
    <button class="ui submit button primary" routerLink="/auth/signup" routerLinkActive="active">
    Sign Up
    </button>
    </div>
</ng-container>